<style type="text/css">
    .pageBtn {
        min-width: 38px;
        margin-left: 10px;
    }

    .fixScrollId {
        position: fixed;
        z-index: 9999;
        right: 15px;
        left: 265px;
        top: 70px;
    }
</style>
<div class="main">
    <div class="container-fluid">
        {% include "_layouts/_title.html" %}
        <div class="card" style="flex-direction: unset;" id="scrollId">
            <div class="col-lg-1">
                <select id="pageId" class="form-control">
                    <option value="10" {% if page.page_size == 10 %} selected{% endif %}>10</option>
                    <option value="20" {% if page.page_size == 20 %} selected{% endif %}>20</option>
                    <option value="50" {% if page.page_size == 50 %} selected{% endif %}>50</option>
                    <option value="100" {% if page.page_size == 100 %} selected{% endif %}>100</option>
                    <option value="-1" {% if page.page_size == -1 %} selected{% endif %}>全部</option>
                </select>
            </div>
            <div class="col-lg-10 pagination">
                <button onclick="getListPage(1)" class="btn btn-sm btn-info {% if page.page == 1 %}
                    disabled{% endif %}"> 首页
                </button>
                {% for item in page.show_pages() %}
                    <button onclick="getListPage({{ item }})" class="btn btn-sm btn-info pageBtn {% if item==page.page %}
                        active disabled{% endif %}"> {{ item }}</button>
                {% endfor %}
                <button onclick="getListPage({{ page.pages }})" style="margin-left: 10px"
                        class="btn btn-sm btn-info {% if page.pages == page.page %}
                    disabled {% endif %}"> 尾页
                </button>
            </div>
        </div>
        <input type="hidden" id="hiddenKeyId" value="{{ key }}">
        <section id="main-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive" id="jsonId">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    function getListPage(page) {
        let page_size = $("#pageId option:checked").val();
        $.ajax({
            'url': '/values?key=' + $("#hiddenKeyId").val() + "&page=" + page + "&page_size=" + page_size,
            'type': 'get',
            'success': function (data) {
                $("#mainId").html(data);
            },
            'error': function (error) {

            }
        })
    }

    $(function () {
        let d = '{{ data | safe}}';
        try {
            $("#jsonId").JSONView(d);
        } catch (e) {
            $("#jsonId").html(d);
        }
        $("html,body").animate({scrollTop: "0px"}, 'slow');

    });
    $(window).scroll(function (event) {
        if ($(window).scrollTop() >= 100) {
            $("#scrollId").addClass("fixScrollId");
        } else {
            $("#scrollId").removeClass("fixScrollId");
        }
    });
</script>